body {
  font-family: "Rock Salt", cursive;
}

.weather-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  background-color: #c4fff9;
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.timedate {
  margin-left: 165px;
}
.cityname {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin-top: 10px;
  margin-left: 30px;
  line-height: 1;
}

.weather-temp strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16;
  top: -34px;
}

.card {
  border: none !important;
  margin-bottom: 20px;
}

.card-body {
  background-color: #c4fff9;
}

.card-text {
  font-size: 30px;
}
